.aside{
    width: 90px;
    background-color: white;
}
.aside-container{
    position: sticky;
    top: 86px;
}
.aside-container .aside-logo{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.aside-container div .col{
    width: 70px;
    margin: 0px 10px 10px 10px;
    padding: 5px 0;
    border-radius: 8px;
    cursor: pointer;
}
.aside-container div .col:hover{
    background-color: #E2E6EA;
}
.aside-container div .col:active{
    background-color: #E2E6EA;
}
.aside-container p{
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 10px;
}
.aside-arrow-container{
    position: absolute;
    bottom: 125px;
    right: -14px;
}
.arrow{
    width: 30px;
    height: 30px;
    fill: #3a8ced;
}

/* nueva clase para evento onclick */
.clickaside{
 width: 200px;
 background-color: white;
}
.clickaside-container{
    position: sticky;
    top: 86px;
}
.clickaside-container div .col{
    display: flex;
    flex-direction: row;
    width: 180px;
    margin: 0px 10px 10px 10px;
    padding: 5px 0 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}
.clickaside-container div .col:hover{
    background-color: #E2E6EA;
}
.clickaside-container p{
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 10px;
    text-align: middle;
}
.clickaside-arrow-container{
    transform: rotate(180deg);
    position: absolute;
    right: -14px;
    bottom: -105px;
}
.aside-logo{
    align-self: center;
}
