*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  color: #212529;
}
#root, body, html{
  background-color: #f8f9fa;
}
/* #f8f9fa fondo*/
/* #ffffff card*/
/* #eef0f2 borde*/